/*

!/.github
!/.gitignore
!/.richstyle
!/24-bit-color.sh
!/README.md
!/alfred-workflows
!/archlinux-setup-memo.md
!/autokey
!/autorandr
!/autostart
!/bash
!/docker-linux/config.json
!/docker-osx
!/efm-langserver
!/flake8
!/fonts
!/gh
/gh/hosts.yml
!/git
!/gnupg/.gitignore
!/gocode
!/gogh
!/googleinput
!/gordon
!/homebrew
!/iTerm2
!/karabiner
/karabiner/*
!/karabiner/karabiner.json
!/lazyenv
!/locale.conf
!/momiji
!/mozc
!/mypy
!/nvim
!/nvidia
!/pacman
!/plist
!/pycodestyle
!/pyenv
!/ripgrep
!/setup
!/setup_Darwin
!/setup_GNOME
!/setup_GNOME_terminal
!/setup_Linux
!/setup_pacman
!/ssh
!/stylua
!/tig
!/ulauncher
/ulauncher/ext_preferences
!/userjob
!/vim
!/wezterm
!/zsh
/zsh/.zcompcache

*.log
/hub
